<% add_decidim_page_title(t(".title")) %>

<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t(".title") %>
  </h1>
</div>

<div class="item__edit-form">

<%= decidim_form_for(@form, url: delete_authorizations_path, html: { class: "form delete_verifications" }) do |f| %>
  <div class="card">
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>

  <div class="item__edit-sticky">
    <div class="item__edit-sticky-container">
      <%= f.submit t(".search"), class: "button button__sm button__secondary", data: { confirm: t(".confirm_destroy") } %>
    </div>
  </div>

<% end %>
  </div>
